<% if @message.errors.any? %>
  $('#new-message-form').html("<%= j (render 'form') %>");
<% else %>
	$("#new-message-modal").modal('hide');
  //if in space chat landing
  if ( $(".space-chat-well").length > 0 ) {
    $("#nav_messages_list").prepend("<%= j (render(:partial=> 'messages/message_in_nav', :locals=>{:message=>@message_in_nav,:render_for_current_user=>true})) %>");

    if( $(".space-chat-well .space-chat-right .user_chat_pm_<%= @convo.id %>").length > 0 ) {
      $(".space-chat-well .space-chat-right .user_chat_pm_<%= @convo.id %> .user_chat_pm_feed").append("<%= j (render(:partial=> 'messages/message_in_convo', :locals=>{:message=>@message,:render_for_current_user=>true})) %>");
      $('.space-chat-well .space-chat-right').animate({scrollTop: $('.space-chat-well .space-chat-right .user_chat_pm_<%= @convo.id %>  .user_chat_pm .user_chat_pm_feed')[0].scrollHeight}, 500);
      $('.space-chat-well .space-chat-right .user_chat_pm_<%= @convo.id %> .user_chat_pm .user_chat_pm_reply').html("<%= j (render(:partial=> 'conversations/convo_reply_form')) %>");
      $(".space-chat-well .space-chat-right .user_chat_pm_<%= @convo.id %> .user_pm_message").keypress(function(event) {        
          var keycode = (event.keyCode ? event.keyCode : event.which);
          if(keycode == 13) {
            $(this).parent("form").submit();
            return false;
          }
      });
      initConvoChatForm("<%= @convo.id %>");
    }
  }
  //else on other pages render in nav and in chat box (if open)  
  else {
    var convo_nav = $("#nav_messages_list #message_in_nav_<%= @convo.id %>");
    if ( convo_nav.length > 0 ) {
      convo_nav.remove();
    }
    if( $("#nav_messages_none").length > 0 ) {
      $("#nav_messages_none").remove();
    }
    $("#nav_messages_list").prepend("<%= j (render(:partial=> 'messages/message_in_nav', :locals=>{:message=>@message_in_nav,:render_for_current_user=>true})) %>");

    //render in chat box if open
    if( $("#user_chat_pm_<%= @convo.id %>").length > 0 ) {
      $("#user_chat_pm_<%= @convo.id %> .user_chat_pm_feed").append("<%= j (render(:partial=> 'messages/message_in_convo', :locals=>{:message=>@message,:render_for_current_user=>true})) %>");
      $('#user_chat_pm_<%= @convo.id %> .user_chat_pm .user_chat_pm_feed').animate({scrollTop: $('#user_chat_pm_<%= @convo.id %>  .user_chat_pm .user_chat_pm_feed')[0].scrollHeight}, 1);
      $('#user_chat_pm_<%= @convo.id %> .user_chat_pm .user_chat_pm_reply').html("<%= j (render(:partial=> 'conversations/convo_reply_form')) %>");
      $("#user_chat_pm_<%= @convo.id %> .user_pm_message").keypress(function(event) {        
          var keycode = (event.keyCode ? event.keyCode : event.which);
          if(keycode == 13) {
            $(this).parent("form").submit();
            return false;
          }
      });
      initConvoChatForm("<%= @convo.id %>");
    } 
    //create chat box    
    else {    
      $('.flash').html("<%= j render('shared/flashages', notice: 'Message has been sent successfully') %>");
      $("#user_chat_pm_append").append("<div id='user_chat_pm_<%= @convo.id %>' class='user_chat_pm_container' ></div>");
      var chat_count = $(".user_chat_pm_container").length;
      if ( chat_count > 1 ) {
        var win_width = $( window ).width();
        var new_pos = 355*(chat_count-1)-64*(chat_count-2);//parseInt($(".user_chat_pm_container").last().css("right"))+285;
        if ( new_pos > win_width ) {
          $("#user_chat_pm_<%= @convo.id %>").css("right", new_pos+"px");
        } else {
          $("#user_chat_pm_<%= @convo.id %>").css("right", new_pos+"px"); 
        }
      }
      $("#user_chat_pm_<%= @convo.id %>").append('<div class="chat_open_toggle"><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button></div><div class="user_chat_pm" style="display:none;"></div>');
      $("#user_chat_pm_<%= @convo.id %> .user_chat_pm").html("<%= j (render 'conversations/convo') %>");

      $("#user_chat_pm_<%= @convo.id %> .user_chat_pm").slideToggle();

      $('#user_chat_pm_<%= @convo.id %> .user_chat_pm .user_chat_pm_feed').animate({scrollTop: $('#user_chat_pm_<%= @convo.id %>  .user_chat_pm .user_chat_pm_feed')[0].scrollHeight}, 1);

      $("#user_chat_pm_<%= @convo.id %> .chat_open_toggle").click(function() {
        $("#user_chat_pm_<%= @convo.id %> .user_chat_pm").slideToggle();
      });
      $("#user_chat_pm_<%= @convo.id %> .user_pm_message").keypress(function(event) {        
          var keycode = (event.keyCode ? event.keyCode : event.which);
          if(keycode == 13) {
            $(this).parent("form").submit();
            return false;
          }
      });
      initConvoChatForm("<%= @convo.id %>");
    }
  }
<% end %>
