%p#notice= notice

%p
  %b Body:
  = @message.body
%p
  %b User:
  = @message.user
%p
  %b User to:
  = @message.user_to
%p
  %b Conversation:
  = @message.conversation

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path
