.nav
  .nav-title.center-text Settings
.container.user-settings.pb-100.mb-50.mt-25
  .row
    .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1
      .row
        .setting-title Personal Details
        .user-info.col-sm-12
          = render 'users/info_setting'
      .row.mt-20
        .setting-title Account Details
        %ul.account-details.col-sm-12
          %li.item
            .title username
            .content= current_user.username
            = link_to edit_settings_user_path(current_user, step: :username), remote: true,
              class: 'profile-edit-button' do
              = inline_svg "pencil.svg"
          %li.item
            .title email
            .content.email= current_user.email
            = link_to edit_settings_user_path(current_user, step: :email), remote: true,
              class: 'profile-edit-button' do
              = inline_svg "pencil.svg"
          %li.item
            .title password
            .content ********
            = link_to edit_settings_user_path(current_user, step: :password), remote: true,
              class: 'profile-edit-button' do
              = inline_svg "pencil.svg"
          %li.item
            .title newsletter
            .content= current_user.newsletter ? 'YES' : 'NO'
            = link_to edit_settings_user_path(current_user, step: :newsletter), remote: true,
              class: 'profile-edit-button' do
              = inline_svg "pencil.svg"
