%footer.footer
  .container-fluid
    .row
      .col-md-4.visible-xs.mb-30
        %ul.socials.center-text
          %li
            = link_to 'https://www.facebook.com/groups/spacedecentral/', title: 'Facebook' do
              = inline_svg('socials/facebook.svg')
          -#%li
          -#  = link_to 'https://www.linkedin.com/company/17879935/' do
          -#    = inline_svg('socials/linkedin.svg')
          %li
            = link_to 'https://medium.com/spacedecentral', title: 'Medium' do
              = inline_svg('socials/medium.svg')
          %li
            = link_to 'https://twitter.com/SpaceDecentral', title: 'Twitter' do
              = inline_svg('socials/twitter.svg')
          %li
            = link_to 'https://www.youtube.com/channel/UCQc7myPFFWnX95G9u65uOWw', title: 'Youtube' do
              = inline_svg('socials/youtube.svg')
          %li
            = link_to 'https://t.me/SpaceDecentral', title: 'Telegram' do
              = inline_svg('socials/telegram.svg')
          %li
            = link_to 'https://github.com/spacedecentral', title: 'GitHub' do
              = inline_svg('socials/github.svg')
      .col-md-4.col-sm-4.mb-30
        .row
          #footer_logo.col-sm-8.col-sm-offset-2.col-xs-6.col-xs-offset-3
            .head
            .body
              =image_tag('logo_vb.svg')
              .text To Space, Together
      .col-md-4.col-sm-4.mb-30
        .row
          .col-xs-12
            %ul.menus.col-xs-6
              -#%li= link_to 'White Paper', 'http://goo.gl/tZJiW7'
              %li= link_to 'White Paper', '/White_Paper.pdf'
              %li= link_to 'Team', page_path('team')
              %li= link_to 'Careers', page_path('membership')
              %li= link_to 'Contribute', page_path('contribute')
            %ul.menus.col-xs-6
              -#%li= link_to 'Crowdsale', 'http://goo.gl/W5q9Lj'
              %li= link_to 'Governance Paper', '/Governance_Paper.pdf'
              %li= link_to 'Blog', 'https://medium.com/spacedecentral/'
              %li= link_to 'Contact', page_path('contact')
              %li= link_to 'Chat', 'https://keybase.io/team/spacedecentral.community'
      .col-md-4.col-sm-4.hidden-xs
        %ul.socials.center-text
          %li
            = link_to 'https://www.facebook.com/groups/spacedecentral/', title: 'Facebook' do
              = inline_svg('socials/facebook.svg')
          -#%li
          -#  = link_to 'https://www.linkedin.com/company/17879935/' do
          -#    = inline_svg('socials/linkedin.svg')
          %li
            = link_to 'https://medium.com/spacedecentral', title: 'Medium' do
              = inline_svg('socials/medium.svg')
          %li
            = link_to 'https://twitter.com/SpaceDecentral', title: 'Twitter' do
              = inline_svg('socials/twitter.svg')
          %li
            = link_to 'https://www.youtube.com/channel/UCQc7myPFFWnX95G9u65uOWw', title: 'Youtube' do
              = inline_svg('socials/youtube.svg')
          -#%li
            = link_to 'https://t.me/SpaceDecentral', title: 'Telegram' do
              = inline_svg('socials/telegram.svg')
          %li
            = link_to 'https://github.com/spacedecentral', title: 'GitHub' do
              = inline_svg('socials/github.svg')

    .row.mt-30
      .col-md-12.center-text
        .copyright.center-text &copy; 2020 Space Decentral. All right reserved.
        .terms.center-text= link_to 'Terms of Service', 'terms'
