.container-fluid.container-margin.platform-cover-container
  .platform-cover.mission-cover
    .fixed-bg-slide
      .imgbg{:style=>"background-image:url("+@mission.cover.url(:large)+");background-position:0px "+((!@mission.cover_dy.nil? && @mission.cover_dy>0) ? (-@mission.cover_dy + 45).to_s+"px;" : "45px;")}
  .container.platform-cover-detail.mission-cover-detail
    .row
      .col-md-12.center-text.clearfiv
        - if @mission.project_type?
          = link_to @mission.dad, class: 'back-to-mission' do
            = inline_svg('arrow.svg', class: 'post-arrow-left')
            %span= @mission.dad&.name
        %h1
          = @mission.name
        %span.number-of-members
          = inline_svg('person.svg')
          %span= @mission.members_count
        %p= truncate(@mission.description.to_s, length: 250)
        .row
          - if user_signed_in?
            - if !@isMember
              = link_to new_mission_mission_user_role_path(@mission.id), :id=>"join_mission_button", :class=>"icon", :title=>"Follow #{@mission.name}", remote: true do
                =image_tag('plus.svg',:class=>'platform-cover-icons default-icon')
                =image_tag('plus_white.svg',:class=>'platform-cover-icons hover-icon')
            - else
              %a.unfollow-mission{:href=>"#", :class=>"icon", :title=>"Leave #{@mission.name}", "data-toggle"=>"modal", "data-target"=>"#unfollow_modal"}
                =image_tag('following.svg',:class=>'platform-cover-icons default-icon')
                =image_tag('unfollow.svg',:class=>'platform-cover-icons hover-icon')

            - if @mission.decorate.can_write?(@current_member_role)
              .dropdown.platform-missions
                %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown", "role"=>"button", :title=>"More Actions"}
                  / dropdown toggle image
                  = image_tag('more.svg', :class=>'platform-cover-icons active-icon')
                  = image_tag('more_hover.svg', :class=>'platform-cover-icons hover-icon')
                %ul.dropdown-menu.arrow.dropdown-menu-right
                  - if @mission.mission_type?
                    %li
                      = link_to 'Add Project',
                        new_mission_path(object_type: Mission.object_types[:project],
                          parent: @mission.id),
                        remote: true
                  %li
                    = link_to edit_mission_path(@mission.id), class: "link-edit-mission",
                      remote: true do
                      = @mission.project_type? ? 'Edit Project' : 'Edit Mission'
                  %li= link_to 'Upload Cover Photo', "#", :id=>"upload-cover-button"
                  - if @mission.cover.file?
                    %li= link_to 'Remove Cover Photo', "#", :id=>"remove-cover-button"
                    %li= link_to 'Reposition Cover Photo', "#", :class=>"reposition-cover-button"

  .cover-editor.mission-cover.hidden
    .toolbar
      .pull-left
        %h4 Drag to Reposition
      .pull-right
        = form_for @mission ,:authenticity_token => true do |f|
          = f.hidden_field :cover_dy, :class=>'form-control'
          = f.hidden_field :remove_cover
          = f.file_field :cover, :class=>"hidden"
          %a.btn.btn-default.cancel-button Cancel
          = f.submit 'Save', :class=>"btn btn-primary"
    .fixed-bg-slide
      .imgbg{:style=>"background-image:url("+@mission.cover.url(:large)+");background-position:0px "+((!@mission.cover_dy.nil? && @mission.cover_dy>0) ? (-@mission.cover_dy + 45).to_s+"px;" : "45px;")}
  .row.mission_sub_nav
    .col-md-12
      %ul.nav.nav-tabs#mission_tabs{:role=>"tablist"}
        %li.active
          -if !@main_mission_show_url
            =link_to @mission do
              =inline_svg("dashboard.svg", class: 'platform-cover-icons')
              .hidden-sm.hidden-xs Dashboard
          -else
            %a{:href => "#main_mission_tab", "aria-controls"=>"main_mission_tab", :role=>"tab", "data-toggle"=>"tab"}
              =inline_svg("dashboard.svg", class: 'platform-cover-icons')
              .hidden-sm.hidden-xs Dashboard
        %li
          %a{:href => "#mission_crews", "aria-controls"=>"main_mission_tab", :role=>"tab", "data-toggle"=>"tab"}
            =inline_svg("person_no_fill.svg", class: 'platform-cover-icons')
            .hidden-sm.hidden-xs Crew
        -# %li
        -#   %a{:href => "#proposals_mission_tab", "aria-controls"=>"main_mission_tab", :role=>"tab", "data-toggle"=>"tab"}
        -#     =inline_svg("proposals.svg", class: 'platform-cover-icons')
        -#     .hidden-sm.hidden-xs Proposals
        %li
          %a{:href => "#mission_discussions", "aria-controls"=>"mission_discussions", :role=>"tab", "data-toggle"=>"tab"}
            =inline_svg("discussion.svg", class: 'platform-cover-icons')
            .hidden-sm.hidden-xs Discussion
        %li
          %a{:href => "#mission_files", "aria-controls"=>"main_mission_tab", :role=>"tab", "data-toggle"=>"tab"}
            =inline_svg("files.svg", class: 'platform-cover-icons')
            .hidden-sm.hidden-xs Files
.mission_yield
  =yield
.container-fluid.container-margin.platform-cover-container.bottom-platform-cover-container
  .platform-cover.mission-cover
    .fixed-bg-slide
      .imgbg{:style=>"background-image:url("+@mission.cover.url(:large)+");background-position:0px 0px;background-position: bottom;"}

= render partial: 'missions/mission_chat'
= render partial: 'missions/mission_modals'
