.landing-cover
  .fixed-bg-slide
    .imgbg.smap-cover
.container.landing-cover-detail.center-text{:style => "margin-top: -270px"}
  %div.pt-50
    %h1{:style => "margin: 10px"} Space Mission Activation Process
    %h3{:style => "margin: 0px"} Are you a maker, innovator, explorer? Do you want to be part of a new space program?

#smap.container.platform-show-container
  .row.cont-margin
    .col-md-2
    .col-md-8.smap-box.space-col
      %p The Space Mission Activation Process (SMAP) is the pilot system for selecting Space Decentral's missions. While we have many interesting ideas being discussed in our #{link_to 'forum', 'forum'}, the activated missions will obtain an “official” status, as they will be peer reviewed, vetted, and featured on spacedecentral.net. Once a proposal is activated as a pilot mission, the community collectively develops the mission, with contributions tracked using #{link_to 'blockchain-based planning tools', 'https://medium.com/giveth/space-decentral-the-dao-for-space-exploration-2af372d310af'}.
      %br
      %h2{:style => 'text-align: left'} Call for Proposals
      %p The Space Mission Activation Process 2019 is currently accepting proposals. 
      %p Proposal submission deadline: 11:00 pm (PST) on January 6th, 2019.
      .central-buttons
        = link_to 'Apply', 'https://github.com/spacedecentral/missions', :class=>'btn', :role=>"button", target: '_blank'
        = link_to 'Guidelines', 'docs/SMAP_Guidelines.pdf', :class=>'btn', :role=>"button"   
      %br 
      %h3{:style => 'text-align: left'} Learn More
      %p To learn more about the Space Mission Activation Process, read our previous articles:
      %ul
        %li #{link_to 'Space Mission Activation Process', 'https://medium.com/spacedecentral/space-mission-activation-process-c6e7c2a0910f'}
        %li #{link_to 'Initial mission ideas for Space Decentral’s SMAP', 'https://medium.com/spacedecentral/initial-mission-ideas-for-space-decentrals-smap-from-the-moon-mars-to-vertical-earth-farms-d52e9ac05ef8'}
        %li #{link_to 'The official terms for Space Decentral’s pilot missions', 'https://medium.com/spacedecentral/the-official-terms-for-space-decentrals-pilot-missions-1cf8ada34c43'}
        %li #{link_to 'Space Mission Activation Process: October 2018 Update', 'https://medium.com/spacedecentral/space-mission-activation-process-october-2018-update-94082c94bd62'}
      %br
      %h3{:style => 'text-align: left'} Contact
      %p If you have any questions, feel free to email: smap [at] spacedecentral.net 
      %p You can also chat with us on #{link_to 'Riot', 'https://riot.im/app/#/group/+spacedecentral:matrix.org'}

