.landing-cover
  .fixed-bg-slide
    .imgbg.iss2-cover
.container.landing-cover-detail.center-text
  %div.pt-50
    %h1
      WHO WE ARE
    %h3
      At first glance, it may be difficult to understand how our team came together. We have representation from around the planet, and our skillsets are all quite eclectic.
#about.container.mb-60
  .main
    %article
      .entry-content
        %p
          %a{:href => "http://space.coop", :target => "_blank"}Space Cooperative
          is the founding entity behind Space Decentral, and one that will be capable of interfacing with the real world when necessary such as for procuring launch licenses or remitting checks to contractors that do not accept cryptocurrency. However it should be noted that Space Cooperative will not wholly own Space Decentral. Members of Space Cooperative will act as the initial stewards of Space Decentral with the aim for it to flourish and grow to be a network where multiple organizations and individuals can share value.

        %h2 Our Team
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/yalda.png', size: '168x168', alt: 'Yalda'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Yalda Mousavinia
            %br/
            %em
              Co-founder & Product Designer
              %a{:href => "http://linkedin.com/in/stellarmagnet", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p Prior to co-founding Space Cooperative, Yalda was a Senior Product Manager at Oracle where she created solutions for the Enterprise Resource Planning cloud software suite. Her career as a product manager and designer for software companies spans 10 years. She earned her Bachelor of Science degree in Mechanical Engineering from UC Berkeley and an Astronautical Engineering Certificate from UCLA.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/patrick.png', size: '168x168', alt: 'Patrick'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Patrick Donovan
            %br/
            %em
              Co-founder & Concept Developer
              %a{:href => "https://www.linkedin.com/in/bruinsquared", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p Patrick graduated with a Bachelor of Science degree in Civil Engineering from UCLA and now works in the private sector of structural engineering within the Los Angeles area. In the span of nearly 3 years he has worked on a diverse array of new and existing residential and commercial structures across seismically-active southern California. Patrick earned NASA’s recognition for his Mars-focused ISRU concept and briefly studied space mission engineering before co-founding Space Cooperative.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/brayden.png', size: '168x168', alt: 'Brayden'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Brayden DeVito
            %br/
            %em
              Co-founder & Manufacturing Engineer
              %a{:href => "https://www.linkedin.com/in/braydendevito", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p Brayden is solutions-oriented aerospace welding and manufacturing engineer with 12 years experience facilitating the overall design process from initial specifications and simulation to prototyping and production. Throughout his career he has held various positions in the manufacturing process such as project management, streamlining manufacturing, and setting forth high caliber design and quality standards. Additionally, Brayden has contributed to projects for SpaceX and JPL, both internally as an employee and externally as a contractor, respectively.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/kevin.png', size: '168x168', alt: 'Kevin'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Kevin Siegler
            %br/
            %em
              Co-founder & Software Engineer
              %a{:href => "https://www.linkedin.com/in/ksiegler", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p After fostering an enduring fascination with Skunk Works, Kevin obtained a B.S. and M.S. in Mechanical Engineering from Northwestern University with a focus in robotics, and worked 3 years in the aerospace industry as a mechatronics engineer. During that time he was a member of Cobham’s Leadership Development Program. Now he’s pursuing his dream of scaling the field of aerospace  globally as a co-founder of Space Cooperative and helping to bring the Decentralized Space Agency to the blockchain as a Solidity developer.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/giulio.png', size: '168x168', alt: 'Giulio'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Giulio Prisco
            %br/
            %em
              Co-founder & Futurist
              %a{:href => "https://www.linkedin.com/in/giulioprisco/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p After earning a degree in physics with final thesis in laser physics, Giulio worked as a scientist in European research centers including CERN, then as a space system analyst at the European Space Agency (ESA), then as a senior manager in the public space sector. In 2005, Giulio left the public sector and founded a virtual reality development and consulting company, which he ran until 2011. More recently, he has been covering developments and trends in science, technology, business, crypto, and digital economy for the specialized press.   
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/srinath.png', size: '168x168', alt: 'Srinath'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Srinath Ravichandran
            %br/
            %em
              Co-founder & Engineer
              %a{:href => "https://www.linkedin.com/in/srinath-ravichandran-09679a7", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p Srinath has 9 years of experience in Portfolio Management and Strategic Asset Allocation at AXA and AIG. He has a Masters in Financial Engineering from Columbia University and Bachelor’s degree in Electrical Engineering from College of Engineering, Guindy. His diverse skill set covers aerospace engineering, finance, electrical engineering in addition to screenwriting.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/marc.png', size: '168x168', alt: 'Marc'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Dr. Marc Cohen
            %br/
            %em
              Project Manager & Space Architect
              %a{:href => "https://www.linkedin.com/in/marc-m-cohen-b76748/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p Dr. Marc M. Cohen is a licensed architect who has devoted his career to developing the new field of Space Architecture. Marc worked at NASA Ames Research Center for 26 years, then at Northrop Grumman Aerospace Systems for 4.5 years. At NASA Ames, Marc began as a facilities architect designing aircraft support facilities, life science labs, and wind tunnels. At the beginning of the Space Station Program (1983), Marc was appointed to the Space Station Concept Development Group at NASA HQ where he served as a “commuting member” for a year.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/sean.png', size: '168x168', alt: 'Sean'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Sean Marquez
            %br/
            %em
              Software & Systems Engineer
              %a{:href => "http://linkedin.com/in/sean-marquez/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p Sean began his career in space exploration during his undergrad, at the University of California, Irvine, through active hands-on involvement with a Cube Satellite program. After receiving his bachelor’s degree in Mechanical Engineering, he worked on product development as an associate mechanical design engineer for Max Q Systems, embedded/IoT/robotics projects for tech startups, and numerical simulations as a volunteer for rLoop – a non-profit global think tank that competed in the first SpaceX hyperloop competition.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/radek.png', size: '168x168', alt: 'Radek'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Radek Zasiadczuk
            %br/
            %em
              Software & Systems Engineer
              %a{:href => "https://www.linkedin.com/in/radoslaw-zasiadczuk-b34a922/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p Radek studied and worked at Polish-Japanese Academy of Information Technology in Warsaw, then worked as Systems Administrator and DevOps Engineer, where he built and maintained Data Centres around the world. For the last few years with increasing fascination, he has researched augmenting human collaboration with software, starting with simple project management systems to emerging DAO-style endeavours, operating on non-linear and non-hierarchical principles.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/suzi.png', size: '168x168', alt: 'Suzi'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Suzi Bianco
            %br/
            %em
              Space Architect
              %a{:href => "https://www.linkedin.com/in/suzana-bianco-43481031/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p Suzana studied Architecture and Urbanism at the Federal Fluminense University in Brazil, and shortly after graduating, earned an MBA in project management at Fundacao Getulio Vargas. For 8 years she worked in the engineering company Promon Engenharia, first as an intern and later as a licensed architect, developing large scale industrial and infrastructure projects such as ports, factories, subway systems and power plants. In 2016 she shifted her career towards space exploration by pursuing a masters degree in Space Architecture at the University of Houston, from which she will graduate in May 2018.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/jonas.png', size: '168x168', alt: 'Jonas'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Jonas Allesson
            %br/
            %em
              Socio-Ecological Systems Designer
              %a{:href => "https://www.linkedin.com/in/jonas-allesson", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p Jonas is currently pursuing his masters degree in Development, Environment and Cultural Change at the University of Oslo, having earned his bachelor’s degree in International Relations from Malmö University in 2014. His academic interests are mainly focusing on climate change and social ecology, and he has a special interest in the formation and spread of post-nation-state democratic governance systems. Jonas is also a self taught 3D artist, having long experience with volunteer work for space advocacy.
       
        %h2 Advisors
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/paolo.png', size: '168x168', alt: 'Rini'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Paolo Tasca
              %a{:href => "https://www.linkedin.com/in/ptasca/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p
            Paolo Tasca is a Digital economist specialising in P2P financial systems. An advisor on blockchain technologies for different international organisations including the EU Parliament and the United Nations. Paolo is founder and Executive Director of the Centre for Blockchain Technologies (UCL CBT) at University College London. Prior to this, he was Lead Economist on digital currencies and P2P financial systems at Deutsche Bundesbank, Frankfurt working on digital currencies and P2P lending.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/brent.png', size: '168x168', alt: 'Brent Sherwood'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Brent Sherwood
              %a{:href => "https://www.linkedin.com/in/brent-sherwood-73899b/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p
            Brent Sherwood is a space architect with 29 years of professional experience in the space industry. He was at Boeing for 17 years, leading teams in concept engineering for human exploration of Mars and the Moon, in addition to manufacturing engineering of the International Space Station modules. He has been at NASA JPL for 12 years, where he is Program Manager for planetary mission formulation. He funds and coaches teams that create and propose mission concepts to NASA for scientific exploration of the solar system. He received Master of Architecture from Yale and a Master of Science in Aerospace Engineering from the University of Maryland.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/priya.png', size: '168x168', alt: 'Priya Samra'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Priya Samra
              %a{:href => "https://www.linkedin.com/in/priyasamra411/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p
            Priya recently the led SpaceChain’s launch token generation event, marketing, community and PR that was backed by legend VC Tim Draper, which had a successful crowdsale in January 2018. She began her career in blockchain in 2013, where she was one of the first 100 hires at Coinbase and part of the key team that launched the GDAX exchange. While at Coinbase, she joined the founding team of ChangeTip, which was eventually acquired by Airbnb in 2015. Later, she started her own stealth investment firm and worked at VMWare on the global marketing team. She was also recently a community lead at Bee Partners VC supporting a $100 million fund with 30 portfolio companies. She holds a BA from Mount Holyoke College and attended University of Oxford’s Trinity College where she studied economics, law, and international relations.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/jsimmons.png', size: '168x168', alt: 'J. Simmons'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong J. Simmons, Ph.D.
              %a{:href => "https://www.linkedin.com/in/j-simmons-1270436/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p
            J. has been driven by the dream of humanity becoming a spacefaring society his whole life. This drive led him to pursue multiple technical degrees, culminating in his doctorate in Space Systems Engineering from the Air Force Institute of Technology.  J. is equally passionate about the open source hardware and the maker movements. In 2009, J. founded and serves as the President of Mach 30, a US non-profit dedicated to hastening the advancement of humanity into a spacefaring civilization through the development of open source spaceflight hardware.
