.landing-cover
  .fixed-bg-slide
    .imgbg.iss2-cover
.container.landing-cover-detail.center-text
  %div.pt-50
    %h1{:style => "margin-top: 60px"}
      WHO WE ARE
    %h3
      At first glance, it may be difficult to understand how our team came together. We have representation from around the planet, and our skillsets are all quite eclectic.
#about.container.mb-60
  .main
    %article
      .entry-content
        %p{:style => "font-size: 120%; padding: 10px;"}
          Individuals from multiple organizations are contributing to the technology development and space mission design efforts needed to make our vision of a spacefaring future become a reality. This includes #{link_to 'Space Cooperative', 'http://space.coop', target: "_blank"}, the original team that spearheaded the idea of creating a social collaboration platform for space missions, in addition to #{link_to 'Autark', 'https://autark.xyz/', target: "_blank"}, the organization who is now leading the development efforts the Planning Suite that utilizes #{link_to 'Aragon', 'https://aragon.org/', target: "_blank"} which will be used to strategically prioritize missions and organize the network.

        %h2 Our Team
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/yalda.png', size: '168x168', alt: 'Yalda'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Yalda Mousavinia
            %br/
            %em
              Director, Product Lead
              %a{:href => "http://linkedin.com/in/stellarmagnet", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p Yalda is the Project Lead at Autark, an organization that is leading the development efforts for the planning software that the Space Decentral Network will utilize. Yalda is a co-founder of Space Cooperative and has spearheaded the vision of creating a global space program.  Yalda was previously a Senior Product Manager at Oracle where she created solutions for the Enterprise Resource Planning cloud software suite. Her career as a product manager and designer for software companies spans 11 years. She earned her Bachelor of Science degree in Mechanical Engineering from UC Berkeley and an Astronautical Engineering Certificate from UCLA.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/suzi.png', size: '168x168', alt: 'Suzi'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Suzi Bianco
            %br/
            %em
              Director, Operations Lead
              %a{:href => "https://www.linkedin.com/in/suzana-bianco-43481031/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p Suzana leads operations, community, and the Space Mission Activation Process and is a worker-owner of Space Cooperative. She studied Architecture and Urbanism at the Federal Fluminense University in Brazil, and shortly after graduating, earned an MBA in project management at Fundacao Getulio Vargas. For 8 years she worked in the engineering company Promon Engenharia, first as an intern and later as a licensed architect, developing large scale industrial and infrastructure projects such as ports, factories, subway systems and power plants. She recently shifted her career towards space exploration and has earned a Masters in Space Architecture from the University of Houston (May 2018).        
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/vanessa.jpeg', size: '168x168', alt: 'Vanessa'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Vanessa Pepe
            %br/
            %em
              Director, Strategic Lead
              %a{:href => "https://www.linkedin.com/in/vanessaingridpepe", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p Vanessa leads the strategy and partnerships of Space Decentral. She’s an open innovation and business expert with an entrepreneurial spirit. Vanessa’s work at the European Space Agency gave her a clear understanding how of space agencies operate, how to deal with member states, partners, and contractors while overlooking the greater strategy. She believes that by working together on space exploration we can achieve peace on Earth, and that’s her main goal for Space Decentral.    
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/patrick.png', size: '168x168', alt: 'Patrick'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Patrick Donovan
            %br/
            %em
              Mission Engineering Lead
              %a{:href => "https://www.linkedin.com/in/bruinsquared", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p Patrick graduated with a Bachelor of Science degree in Civil Engineering from UCLA and now works in the private sector of structural engineering within the Los Angeles area. In the span of nearly 3 years he has worked on a diverse array of new and existing residential and commercial structures across seismically-active southern California. Patrick earned NASA’s recognition for his Mars-focused ISRU concept and briefly studied space mission engineering before co-founding Space Cooperative.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/radek.png', size: '168x168', alt: 'Radek'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Radek Zasiadczuk
            %br/
            %em
              Full Stack Developer, Autark
              %a{:href => "https://www.linkedin.com/in/radoslaw-zasiadczuk-b34a922/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p Radek is the technical lead of the Space Decentral Network and also a full stack developer at Autark. He studied at the Polish-Japanese Academy of Information Technology in Warsaw and has also been working as a Senior System Administrator and DevOps Engineer at Oracle for 13 years, where he builds and maintains Data Centres around the world. For the last few years with increasing fascination, he has researched augmenting human collaboration with software, starting with simple project management systems to emerging DAO-style endeavours, operating on non-linear and non-hierarchical principles.        
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/kevin.png', size: '168x168', alt: 'Kevin'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Kevin Siegler
            %br/
            %em
              Solidity/Web3 Developer, Autark
              %a{:href => "https://www.linkedin.com/in/ksiegler", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p Kevin is a solidity and web3 developer with Autark. After fostering an enduring fascination with Skunk Works, Kevin obtained a B.S. and M.S. in Mechanical Engineering from Northwestern University with a focus in robotics, and worked 3 years in the aerospace industry as a mechatronics engineer. During that time he was a member of Cobham’s Leadership Development Program. Over the past two years he has also been pursuing his dream of scaling the field of aerospace globally as a co-founder of Space Decentral and helping to bring the vision of a decentralized space agency to life.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/giulio.png', size: '168x168', alt: 'Giulio'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Giulio Prisco
            %br/
            %em
              Media Lead
              %a{:href => "https://www.linkedin.com/in/giulioprisco/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p After earning a degree in physics with final thesis in laser physics, Giulio worked as a scientist in European research centers including CERN, then as a space system analyst at the European Space Agency (ESA), then as a senior manager in the public space sector. In 2005, Giulio left the public sector and founded a virtual reality development and consulting company, which he ran until 2011. More recently, he has been covering developments and trends in science, technology, business, crypto, and digital economy for the specialized press.   
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/marc.png', size: '168x168', alt: 'Marc'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Dr. Marc Cohen
            %br/
            %em
              Mission Architecture Lead
              %a{:href => "https://www.linkedin.com/in/marc-m-cohen-b76748/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p Dr. Marc M. Cohen is a licensed architect who has devoted his career to developing the new field of Space Architecture. Marc worked at NASA Ames Research Center for 26 years, then at Northrop Grumman Aerospace Systems for 4.5 years. At NASA Ames, Marc began as a facilities architect designing aircraft support facilities, life science labs, and wind tunnels. At the beginning of the Space Station Program (1983), Marc was appointed to the Space Station Concept Development Group at NASA HQ where he served as a “commuting member” for a year.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/sean.png', size: '168x168', alt: 'Sean'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Sean Marquez
            %br/
            %em
              Software & Systems Engineer
              %a{:href => "http://linkedin.com/in/sean-marquez/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p Sean began his career in space exploration during his undergrad, at the University of California, Irvine, through active hands-on involvement with a Cube Satellite program. After receiving his bachelor’s degree in Mechanical Engineering, he worked on product development as an associate mechanical design engineer for Max Q Systems, embedded/IoT/robotics projects for tech startups, and numerical simulations as a volunteer for rLoop – a non-profit global think tank that competed in the first SpaceX hyperloop competition.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/quazia.png', size: '168x168', alt: 'Quazia'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Arthur Lunn
            %br/
            %em
              Technical Lead, Autark
              %a{:href => "https://github.com/Quazia", :target => "_blank"}
                = image_tag 'icon-github.png', size: '16x16', alt: 'Github'
          %p Arthur leads the development efforts at Autark with a strong focus on smart contract design and development. He has direct experience with governance expirements through his work with Giveth, and has participated in multiple high profile Ethereum audits including the WHG audit of AragonOS and MakerDAO. He graduated with a Bachelor of Science in Computer Science from Rochester Institute of Technology. He has been a professional full stack developer for 2 years and a smart contract developer for 1 year.        
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/otto.png', size: '168x168', alt: 'Otto'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Otto Garcia
            %br/
            %em
              Full Stack Developer, Autark
              %a{:href => "https://github.com/ottodevs", :target => "_blank"}
                = image_tag 'icon-github.png', size: '16x16', alt: 'Github'
          %p Otto is a full stack and react developer with Autark. He is a multidisciplinary self-taught developer and open source lover. He has been focused in the crypto space since 2013, involved into several altcoin community projects and blockchain startups in different fields, from mining pools to PoW algorithms, and lately doing Ethereum and dApps research, blockchain technical education programs, and managing several successful crypto communities in Spain.

       
        %h2 Advisors
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/paolo.png', size: '168x168', alt: 'Paolo'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Paolo Tasca
              %a{:href => "https://www.linkedin.com/in/ptasca/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p
            Paolo Tasca is a Digital economist specialising in P2P financial systems. An advisor on blockchain technologies for different international organisations including the EU Parliament and the United Nations. Paolo is founder and Executive Director of the Centre for Blockchain Technologies (UCL CBT) at University College London. Prior to this, he was Lead Economist on digital currencies and P2P financial systems at Deutsche Bundesbank, Frankfurt working on digital currencies and P2P lending.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/brent.png', size: '168x168', alt: 'Brent Sherwood'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Brent Sherwood
              %a{:href => "https://www.linkedin.com/in/brent-sherwood-73899b/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p
            Brent Sherwood is a space architect with 29 years of professional experience in the space industry. He was at Boeing for 17 years, leading teams in concept engineering for human exploration of Mars and the Moon, in addition to manufacturing engineering of the International Space Station modules. He has been at NASA JPL for 12 years, where he is Program Manager for planetary mission formulation. He funds and coaches teams that create and propose mission concepts to NASA for scientific exploration of the solar system. He received Master of Architecture from Yale and a Master of Science in Aerospace Engineering from the University of Maryland.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/jsimmons.png', size: '168x168', alt: 'J. Simmons'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong J. Simmons, Ph.D.
              %a{:href => "https://www.linkedin.com/in/j-simmons-1270436/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p
            J. has been driven by the dream of humanity becoming a spacefaring society his whole life. This drive led him to pursue multiple technical degrees, culminating in his doctorate in Space Systems Engineering from the Air Force Institute of Technology.  J. is equally passionate about the open source hardware and the maker movements. In 2009, J. founded and serves as the President of Mach 30, a US non-profit dedicated to hastening the advancement of humanity into a spacefaring civilization through the development of open source spaceflight hardware.
