.landing-cover
  .fixed-bg-slide
    .imgbg.iss2-cover
.container.landing-cover-detail.center-text
  %div.pt-50
    %h1
      WHO WE ARE
    %h3
      At first glance, it may be difficult to understand how our team came together. We have representation from around the planet, and our skillsets are all quite eclectic.
#about.container.mb-60
  .main
    %article
      .entry-content
        %h2 Vision
        %p To realize the promise of the Space Age and its potential for an improved quality of life on Earth, we aspire to awaken a new era of global cooperation. To that end, we are launching Space Cooperative, a new social venture to promote and reward cooperation towards becoming a spacefaring civilization. We will leverage recent developments in blockchain technology to create a global, distributed, peer-to-peer open value network and decentralized space program. Worthy ideas can be proposed, debated, funded, and implemented. Our founding company, Space Cooperative Inc. will be the initial stewards of this network, and beyond developing the infrastructure, our team will also participate in its missions. Through iterative steps, increasingly ambitious projects can be undertaken. And human beings can begin a stride towards the planets and then the stars.

        %h2 Members
        %p
          %span{:style => "font-size: 14px;"} Space Cooperative is a non-hierarchical worker-owned cooperative. We are architects, engineers, futurists, artists, software developers, scientists, environmentalists, designers, thinkers, and tinkerers. We realized that to change our footprint on Earth and transpire them to the planets beyond, it would require an interdisciplinary approach. Hence we grew our cooperative to become the template of the global collaboration we seek. Our vision for the future is the fulfillment of the human potential, a “best” version of ourselves as a species: adventurous, peaceful, autonomous, active and productive, guided by curiosity and promise of experiencing the full plenitude of the universe at large. Listed below is the current team, in alphabetical order.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/jonas.png', size: '168x168', alt: 'Jonas'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Jonas Allesson
            %br/
            %em
              Socio-Ecological Systems Aficionado
              %a{:href => "https://www.linkedin.com/in/jonas-allesson", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p I am a student of socio-ecological systems, currently pursuing my Master’s Degree in Development, Environment and Cultural Change at the University of Oslo in Norway. I dabble in 3D modeling and am a certified organic gardener. My vision of our common future includes both a long term sustainable and prosperous Earth that has overcome the multilayered crises we currently face as a species, as well as a longer view where the green force of life spreads outward into the solar system and further beyond. Space Cooperative may become the place where these visions synergize, making sure that our journey into space happens for the benefit of all humanity and that the creativity of billions can be set free upon the cosmic canvas.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/suzi.png', size: '168x168', alt: 'Suzi'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Suzi Bianco
            %br/
            %em
              Habitat Design Aficionado
              %a{:href => "https://www.linkedin.com/in/suzana-bianco-43481031/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p I always knew I would be an architect, as one of my favorite pastimes as a child was to draw blueprints of skyscrapers and underwater cities. As that dream became reality, I found that architecture doesn’t just apply to Earth. Wherever humans go, architecture has the responsibility of sheltering and protecting us from the surrounding environment. I plan to take an active role in the design of the vehicles and dwellings that will allow the first pioneers to journey into space. I graduated in Architecture and Urbanism in Brazil, where I worked for a while as an industrial and infrastructure architect, and am currently studying Space Architecture in Houston.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/brayden.png', size: '168x168', alt: 'Brayden'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Brayden DeVito
            %br/
            %em
              Co-Founder, Manufacturing Aficionado
              %a{:href => "https://www.linkedin.com/in/braydendevito", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p I am a solutions-oriented aerospace welding and manufacturing engineer with 12 years experience facilitating the overall design process from initial specifications and simulation to prototyping and production. Throughout my career I’ve juggled various duties such as project management, streamlining manufacturing, and setting forth a high caliber of design and quality standards. I’ve contributed to projects for SpaceX and JPL, both internally as an employee and externally as a contractor, respectively. When JPL had a vacuum leak with their Insight Lander I redesigned multiple holding fixtures and generated all weld specifications and machine parameters to meet a stringent deadline to get the lander safely to Mars. It is a great pleasure to devote my expertise to change the way we collaborate to get everyone involved in space and beyond.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/patrick.png', size: '168x168', alt: 'Patrick'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Patrick Donovan
            %br/
            %em
              Co-Founder, Structural Engineering Aficionado
              %a{:href => "https://www.linkedin.com/in/bruinsquared", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p I am proud and grateful to work in a profession I love: structural engineering. Having earned my Bachelor’s degree in Civil Engineering from UCLA and E.I.T. certification, I am closer than ever to becoming a professional engineer. When I am not honing my practical engineering and project management skills at my day job, I spend my time pursuing my other two lifelong passions: space engineering and the murky intersection between business, policy, and making the world a better place. During my undergraduate years I worked hard to succeed in multiple collegiate Model United Nations leadership positions in both in the U.S. and Japan, which enhanced my business-focused skillset. In 2016, my ISRU equipment design earned recognition from both NASA (2nd place in national competition) and the NewSpace community (New Worlds 2016).
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/dennis.png', size: '168x168', alt: 'Dennis'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Dennis Foley
            %br/
            %em
              Co-Founder, Software Systems Aficionado
              %a{:href => "https://www.linkedin.com/in/dennis-foley-7400375a", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p I have had a lifelong love of the computer sciences. I nurtured this passion early on writing Java applets, Perl and CGI web pages. I attended University of California at Santa Cruz where I completed the Computer Science Game Design curriculum and made a few of my own video games. For my day job, I am a systems engineer at Bay Area Rapid Transit (BART). As a career I love all worlds of software, solving problems and learning new skills. I am very interested in space travel and hope to help, eventually, making it a common right for all. Through my contribution to the platform of writing clean, elegant, and optimized code, I hope to accelerate our path towards the stars.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/eric.png', size: '168x168', alt: 'Eric'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Eric Hunting
            %br/
            %em
              Sustainability Aficionado
              %a{:href => "https://www.linkedin.com/in/eric-hunting-9b20611a/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p I am a futurist, writer, maker, designer and former president of First Millennial Foundation/Living Universe Foundation. Currently I am a writer for P2P Foundation and owner of Desert Cottage Industries. I have a particular interest in alternative and sustainable architecture, renewable energy, information technology, marine and space development, and post-industrial technology and culture. I have written extensively on the subjects of non-toxic and high-tech alternative housing as well as literary computing and next-generation computer design and have worked with a number of IT ventures and developers of modular component home building products.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/sean.png', size: '168x168', alt: 'Sean'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Sean Marquez
            %br/
            %em
              Space Systems Engineering Aficionado
              %a{:href => "http://linkedin.com/in/sean-marquez/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p I’ve always been fascinated by the inner workings of the universe. Growing up, my first memorable pastime was reading a book called, “The Way Things Work”. Fast Forward, I received my bachelor’s degree in Mechanical Engineering, specializing in design of dynamic systems. During my undergrad, I managed two Cube Satellite projects, working with eleven teams to design, integrate and test various subsystems for missions in low-earth orbit. Since college, I worked in product development, robotics design, and more recently, developing mathematical models and physics simulations for the Hyperloop. Today, I have the privilege of tackling technical challenges that come with becoming a spacefaring civilization and venturing the unknown. As James T. Kirk once said, “The greatest danger facing us is ourselves and irrational fear of the unknown. There's no such thing as 'the unknown', only things temporarily hidden, temporarily not understood.”
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/yalda.png', size: '168x168', alt: 'Yalda'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Yalda Mousavinia
            %br/
            %em
              Co-Founder, Product Aficionado
              %a{:href => "http://linkedin.com/in/ymousavinia", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p It has been my longtime dream to bring my product management and design expertise to a platform that embodies my passion for social collaboration. For over nine years I provided solutions for social networking and enterprise software companies, most recently for Oracle where I coordinated solutions for companies managing multi-billion dollar projects. I left that role last summer to pursue a path towards outer space, but I didn’t know then that it would lead to the formation of one of the first cooperatives in the industry. I’m thrilled to channel my expertise into building an infrastructure that empowers global citizens to collaborate to bring about positive social change on Earth and beyond. I have a Bachelor’s degree in Mechanical Engineering from UC Berkeley and an Astronautical Engineering Certificate from UCLA Extension.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/giulio.png', size: '168x168', alt: 'Giulio'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Giulio Prisco
            %br/
            %em
              Co-Founder, Science Faction Aficionado
              %a{:href => "https://www.linkedin.com/in/giulioprisco/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p
            I am a writer, technology expert, and futurist. After earning a degree in physics with final thesis in computational laser physics, I worked as a scientist in European research centers including CERN, then as a space system analyst at the European Space Agency (ESA), then as a senior manager in the public space sector. In 2005 I left the public sector and founded a virtual reality development and consulting company, which I ran until 2011. More recently I have been covering developments and trends in crypto, blockchain technology and digital economy for the specialized press. I strongly believe spreading to the stars is our cosmic destiny. Besides, it will also be fun.
            %br/
            %span{:style => "font-color: white;"}  
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/srinath.png', size: '168x168', alt: 'Srinath'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Srinath Ravichandran
            %br/
            %em
              Co-Founder, Engineering Aficionado
              %a{:href => "https://www.linkedin.com/in/srinath-ravichandran-09679a7", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p All my life, I have remained (probably, systematically) true to Einstein’s words on staying ‘passionately curious’ about any field that genuinely interests me – I hold a Bachelor’s degree in Electrical Engineering, a Master’s degree in Financial Engineering and (as an avid astrodynamics enthusiast), I am currently enrolled in a Master’s program in Aerospace Engineering. After 2 years in heavy engineering motor design at ABB Ltd, and 7 years in Portfolio Management and Strategic Asset Allocation at AXA and AIG, I have learned to see an underlying pattern in problem solving approaches used across diverse sectors such as Finance and Technology. I enjoy developing solutions that draw on my experience and would like to play a part in eliminating some large scale systemic problem that humanity is confronting today.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/kevin.png', size: '168x168', alt: 'Kevin'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Kevin Siegler
            %br/
            %em
              Co-Founder, Robotics Aficionado
              %a{:href => "https://www.linkedin.com/in/ksiegler", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p I’ve always felt this deep urge to understand how things work, and I’ve always enjoyed pondering the possibilities of Space. I started out on the physical side of things, focusing on mechanics, manipulation and optimization. I’ve since begun to gravitate towards computational knowledge, and I’m now learning about data science and machine learning. I hope to find my own “optimal” niche within the broad, deep field of robotics. I’m also currently working towards a Masters in Computer Science after previously working as a electromechanical engineer in aerospace for two years. I’ve also earned Bachelors and Masters degrees in Mechanical Engineering from Northwestern University.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/andy.png', size: '168x168', alt: 'Andy'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Andy Xue
            %br/
            %em
              Video, Music, and Data Aficionado
              %a{:href => "https://www.linkedin.com/in/andrew-xue-2271926/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p I studied Chemistry and Computer Science at Amherst College. Afterwards I taught film at Doshisha University in Kyoto. While much of my professional career relates to programming and data engineering, I also spend much of my time creating media art, especially those concerning music and videos. At night I am a oneironaut, something similar, I believe, to an astronaut. I am constantly looking to reify visions of a better future. As it is said: “now is the time to relaunch the dream weapon”.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/radek.png', size: '168x168', alt: 'Radek'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Radek Zasiadczuk
            %br/
            %em
              Software Systems Aficionado
              %a{:href => "https://www.linkedin.com/in/radoslaw-zasiadczuk-b34a922/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p I’ve been fascinated by thinking machines since the early days of pre-Internet era. First as a hobby, playing with machine code, then studying at Polish-Japanese Academy of Information Technology in Warsaw, and finally as a professional Systems Administrator / DevOps Engineer, building and maintaining Data Centres around the world. For the last few years I have been researching augmenting human collaboration with software, starting with simple project management systems to emerging DAO-style endeavours, operating on non-linear and non-hierarchical principles. Building a cooperative is the logical next step, and if it’s a space-faring cooperative wishing to explore the final frontier while not forgetting about the planetary spaceship we’re on now – what else could a humble human want?

        %h2 Advisors
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/loic.png', size: '168x168', alt: 'Rini'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong Loic Chappaz
            %br/
            %em
              Astrodynamics Guru
              %a{:href => "https://www.linkedin.com/in/loicchappaz/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p
            Loic Chappaz is the Mission Design Lead at 
            %a{:href => "http://astrolabs.space", :target => "_blank"}AstroLabs
            , a high-tech start-up company in the field of space missions and flight systems design. In addition to his work centered on mission and spacecraft design, Loic is also involved with the company’s strategic development. His research interests include trajectory design and analysis in complex dynamical environments and extend to any space exploration topic. In 2011, Loic obtained a double M.S. degree in aerospace engineering from Purdue University and his original school in France, ESTACA, before completing his doctoral degree at Purdue in 2015. 
            %br/
            %span{:style => "font-color: white;"}  
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/jsimmons.png', size: '168x168', alt: 'J. Simmons'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong J. Simmons
            %br/
            %em
              Open Source Spaceflight Guru
              %a{:href => "https://www.linkedin.com/in/j-simmons-1270436/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p
            J. has been driven by the dream of humanity becoming a spacefaring society his whole life. J. is equally passionate about the open source hardware and the maker movements. A maker and open source hardware designer himself, J. is a regular contributor to the Open Hardware Summit, having presented on topics ranging from the intersection of open source and export controls to the need for open source engineering tools to provide a level playing field for volunteer developers. In 2009, J. founded 
            %a{:href => "http://www.mach30.org", :target => "_blank"}Mach 30
            , a US non-profit dedicated to hastening the advancement of humanity into a spacefaring civilization through the development of open source spaceflight hardware.  As the president of Mach 30, J. has overseen development software tools to support open source hardware, open source hardware projects including an open source rocket test stand, and research into the impact of export controls on open source spaceflight development.
        .member
          %figure#attachment_904.wp-caption.alignleft{:style => "width: 168px"}
            = image_tag 'team/jr.png', size: '168x168', alt: 'J. Simmons'
            %figcaption.wp-caption-text
              %span{:style => "font-color: white;"}  
          %p
            %span{:style => "font-size: 20px;"}
              %strong J.R. Skok
            %br/
            %em
              Martian Science Guru
              %a{:href => "https://www.linkedin.com/in/john-roma-j-r-skok-phd-a8135b19/", :target => "_blank"}
                = image_tag 'icon-linkedin.png', size: '16x16', alt: 'Linkedin'
          %p
            J.R. Skok is a planetary scientist working as Research Scientist at the SETI Institute. Involved in Martian research since 2000 and active exploration since 2003. During his undergraduate years at Cornell University, he worked as a member of the Cornell Calibration Crew for the PANCAM instrument on the Mars Exploration Rovers. His graduate work began at Brown University in 2007, working with Professor John Mustard on the CRISM instrument aboard the MRO spacecraft. His focus was on the evolution of volcanic terrains and exploration of the Pre-Noachian crustal formation. 
