.filter-item.checkbox-custom
  .cntr
    = label_tag 'mission_ids', class: 'label-cbx light', for: "mission_checkbox_#{mission.id}" do
      = check_box_tag "filter[mission_ids][]", mission.id, false,
        class: 'invisible', id: "mission_checkbox_#{mission.id}"
      .checkbox
        = inline_svg('checkbox.svg')
      %span= mission.name
  - if mission.mission_type?
    .filter-children{filter_id: mission.id}
      - if mission.projects.present?
        = render partial: 'posts/mission_checkbox',
          collection: mission.projects, as: :mission
