- remote ||= nil
= form_for @mission, remote: remote, html: { class: 'sleek_form' } do |f|
  .row#mission_object_type_field
    .col-md-6.col-sm-6
      .form-group
        - if @mission.project_type?
          = f.hidden_field :parent
        = f.label :object_type, 'Types', class: 'control-label'
        = f.select :object_type,
          options_for_select(Mission.object_types.map { |k, v| [k.humanize, k] }, f.object.object_type),
          {}, { class: 'form-control js-object-type-select' }
    .col-md-6.col-sm-6.js-project-parent-field.hidden
      .form-group
        = f.label :parent, 'Parent', class: 'control-label'
        = f.select :parent,
          options_for_select(Mission.mission_type.pluck(:name, :id), f.object.parent),
          {}, { class: 'form-control', disabled: true }
  .form-group
    = f.label :name, class: 'control-label'
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :description, class: 'control-label'
    = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :objectives, class: 'control-label'
    = f.text_area :objectives, class: 'form-control', rows: "7"
  .form-group
    = f.label :gdrive_folder_id , 'Google Drive Folder ID', class: 'control-label'
    = f.text_field :gdrive_folder_id, class: 'form-control'
  .row
    .col-md-12
      .form-actions.pull-right
        = link_to 'Cancel', @mission, class: "btn btn-default", style: 'margin-right: 10px'
        = f.submit 'Save', class: "btn btn-info"
