- if user_signed_in? && (@isMember || current_user.is_admin_user?)
  #edit-mission-modal.modal.fullscreen.fade{:tabindex=>"-1", :role=>"dialog", "data-show"=>"false"}
    .modal-dialog{:role=>"document", :style=>"margin: 70px auto;" }
      .modal-content{:style=>"border-radius: 0px;"}
        .modal-header
          %button.close{:type=>"button", :class=>"close-mission-modal", "aria-label"=>"Close"}
            %span{"aria-hidden"=>"true"} &times;
          .row
            .col-md-8.col-md-offset-2.col-sm-12.mr-30
              %h4.modal-title
                Edit #{@mission.project_type? ? 'Project' : 'Mission'}
        .modal-body#edit-mission-form.col-md-8.col-md-offset-2.col-sm-12
  #unfollow_modal.modal.fade.square
    .modal-dialog
      .modal-content
        .modal-body
          %h4.modal-title= "Leave Mission: #{@mission.name}"
          This will remove you from the mission. Do you want to proceed?
          .pull-right.button-group
            %button.btn.btn-default.btn-sm{ data: { dismiss: 'modal' } } Cancel
            = link_to 'Leave', [@mission, @current_member_role], class: 'btn btn-danger btn-sm', method: :delete, remote: true

- if !@isMember
  #join_mission_modal.modal.fade{:tabindex=>"-1", :role=>"dialog", "data-show"=>"true"}
    .modal-dialog{:role=>"document" }
      .modal-content
        .modal-header
          %button.close{:type=>"button", "data-dismiss"=>"modal", "aria-label"=>"Close"}
            %span{"aria-hidden"=>"true"} &times;
          %h4.modal-title
            Join the #{@mission.name} mission
        - if user_signed_in?
          .join_mission_form
        - else
          .modal-body
            .alert.alert-info
              You need to have an account before you can join missions
            = link_to 'LOG IN', new_session_path(resource_name), :class=>'btn btn-primary'
            = link_to 'SIGN UP', new_registration_path(resource_name), :class=>'btn btn-primary'
          .modal-footer
            .row
              .col-md-2.pull-right
                %button.btn.btn-default{:type=>"button", "data-dismiss"=>"modal"} Close
