- col ||= 'col-md-4 col-sm-6'
%div.tilter.tilter--3{class: col}
  .mission-tile-container.tilter__figure.mb-30{style: "background-image: url(#{mission.cover.url(:medium)});"}
    .overlay-tint
      = link_to mission do
        .mission-tile-detail
          %h2= mission.name
          %h4.ellipsis-box= mission.description
        .mission-tile-members
          = inline_svg('person.svg')
          %span= mission.members_count
