= form_for @mission, remote: true, :authenticity_token => true,:html => {:class => 'sleek_form'}  do |f|
  #profile-errors.alert.alert-danger{:style=>"display:none;"}
  .row
    .col-md-12
      .form-group
        = f.label :name, "Name" , :class=>"control-label"
        = f.text_field :name, :required=>true, :class=>"form-control"
      .form-group
        = f.label :description, 'Description', :class=>"control-label"
        = f.text_area :description, :required=>true, :class=>"form-control", :rows=>'3'
      .form-group
        = f.label :objectives, 'Objectives', :class=>"control-label"
        = f.text_area :objectives, :class=>"form-control", :rows=>'4'
      .form-group{:style=>"margin-bottom: 0"}
        = f.label :gdrive_folder_id, 'Google Drive Folder ID', :class=>"control-label"
        = f.text_field :gdrive_folder_id, :class=>"form-control"

  .row.mt-20
    .col-md-12
      .pull-right
        = f.submit 'Save', :class=>"btn btn-primary"
