.container.platform-show-container
  .container.mission_file_list_container
    .mission_files_utils
      .row.mission_files_wrapper
        .col-md-4
          .dropdown.pull-left.mission_dropdown
            %a#action-dropdown.dropdown-toggle.btn.btn-light-green.pull-right{:href => "#file_actions", "data-toggle"=>"dropdown", "role"=>"button", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
              Actions
              = inline_svg('arrow.svg', :class=>'carrot-arrow')
            %ul.dropdown-menu#file_actions.dropdown_file_actions
              %li.dropdown-submenu
                %a{ :href=>"javascript:void(0)", id: 'subdropdown', "data-toggle"=>"dropdown", "role"=>"button", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
                  %span Create File
                  = inline_svg('arrow.svg', :class=>'carrot-arrow')
                %ul.dropdown-menu#file_type
                  %li= link_to 'Google Doc', creategfile_mission_gdrive_index_path(@mission.id, file_type: 'application/vnd.google-apps.document'), remote: true
                  %li= link_to 'Google Spreadsheet', creategfile_mission_gdrive_index_path(@mission.id, file_type: 'application/vnd.google-apps.spreadsheet'), remote: true
                  %li= link_to 'Google Form', creategfile_mission_gdrive_index_path(@mission.id, file_type: 'application/vnd.google-apps.form'), remote: true
                  %li= link_to 'Google Folder', creategfile_mission_gdrive_index_path(@mission.id, file_type: 'application/vnd.google-apps.folder'), remote: true
                  %li= link_to 'Google Presentation', creategfile_mission_gdrive_index_path(@mission.id, file_type: 'application/vnd.google-apps.presentation'), remote: true
                  %li= link_to 'Google Drawing', creategfile_mission_gdrive_index_path(@mission.id, file_type: 'application/vnd.google-apps.drawing'), remote: true
              / %li
              /   - if @gdrive_authenticated
              /     =link_to 'Share Google File', listsharefiles_mission_gdrive_index_path(@mission.id), :remote=>true, :class=>"btn"
              /   - else
              /     =link_to 'Share Google File', listsharefiles_mission_gdrive_index_path(@mission.id), :class=>"btn"
              %li
                %a{class: 'upload-file', :href=>"javascript:void(0)"} Upload File
        .col-md-8
          =form_tag tab_render_control_mission_path(@mission.id), :method=>:get, :remote=>true, :id=>"mission_file_filter_form" do |f|
            = inline_svg('search.svg', :class=>'input_search_icon')
            %input#search_mission_files{:type=>"text", :placeholder=>"Search",:name=>"mission_file_search_term",:value=>@mission_file_search_term}
            %input#mission_file_sort_by{:type=>"hidden",:value=>@params['sort_by'] != "title" ? "modifiedDate" : "title",:name=>"sort_by"}
            %input#mission_file_sort_dir{:type=>"hidden", :value=>@params['sort_dir'], :name=>"sort_dir"}
            %input{:type=>"hidden",:value=>"mission_files", :name=>"selector"}
        .col-md-12.no_data{ style: "display: #{@missionfiles[:items]&.empty? ? 'block' : 'none'}" }
          = image_tag('sat.svg', :class=>'fill_width_icon', :title=>"no files in mission")
          %p.fill_width_caption
            No files have been added to this mission yet.

    .mission_files_utils{ style: "display: #{ @missionfiles[:items]&.empty? ? 'none' : 'block' }" }
      .row.document_list_header
        .col-md-5.mission_file_sort_by_update{"data-sort-by"=>"title"}
          %strong
            Name
            -if @params['sort_by'] == "title"
              %span= inline_svg 'arrow-down.svg', class: "like-img arrow #{'up' if params['sort_dir'] == '1'}"
        .col-md-5.pull-right.mission_file_sort_by_update{"data-sort-by"=>"modifiedDate"}
          %strong.pull-right
            Last Modified
            -if @params['sort_by'] != "title"
              %span= inline_svg 'arrow-down.svg', class: "like-img arrow #{'up' if params['sort_dir'] == '1'}"
      .row.document_list
        -if !@missionfiles[:items].nil?
          - @missionfiles[:items].each do |mission_file|
            = render partial: "gdrive/mission_file", locals: { mission_file: mission_file }
- if !defined?(dont_show_share_modal)
  .modal.fade#share_gdrive_file{:tabindex=>"-1", :role=>"dialog", "data-show"=>"true"}
    .modal-dialog{:role=>"document" }
      .modal-content
        .modal-header
          %button.close{:type=>"button", "data-dismiss"=>"modal", "aria-label"=>"Close"}
            %span{"aria-hidden"=>"true"} &times;
          %h4.modal-title
            Select the file to share
        #gdrive_share_file_list
