!!!
/
  = " ` * 路 "*3
  Space Decentral Network
  TO SPACE, TOGETHER
  = " "*2
  路路路
   The Space Decentral Network is an open collaborative project
  路
   Want to join building the first decentralized space community?
  路
  路 路 路 Start at: https://github.com/spacedecentral/spacedecentral-network
  路 路 路 Or Join the Riot community, click CHAT link!
%html{class: "#{'auth' if ['sessions', 'registrations'].include?(controller_name)}"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    %meta{content: meta_description, name: "description"}
    %meta{content: meta_title, name: "application-name"}

    -# Twitter Card data
    %meta{content: "summary_large_image", name: "twitter:card"}
    %meta{content: "#{DEFAULT_META["twitter_account"]}", name: "twitter:site"}
    %meta{content: meta_title, name: "twitter:title"}
    %meta{content: meta_description, name: "twitter:description"}
    %meta{content: "#{DEFAULT_META["twitter_account"]}", name: "twitter:creator"}
    %meta{content: meta_image, name: "twitter:image:src"}

    -# Facebook Open Graph data
    %meta{content: meta_title, property: "og:title"}
    %meta{content: "website", property: "og:type"}
    %meta{content: "#{request.original_url}", property: "og:url"}
    %meta{content: meta_image, property: "og:image"}
    %meta{content: meta_description, property: "og:description"}
    %meta{content: meta_title, property: "og:site_name"}

    - if user_signed_in?
      = tag :meta, name: "current-user", data: { id: current_user.id }
    = csrf_meta_tags
    = render partial: 'shared/ga_tag'
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag    'application', media: 'all', async: Rails.env.production?
    = javascript_include_tag 'application'
    = analytics_init if GoogleAnalytics.valid_tracker?
    %title #{meta_title}

  %body
    = render partial: 'shared/navigation'
    .flash
      = render partial: 'shared/flashages'
    %main#platform_main_layout_content
      = yield
    = render partial: 'shared/new_message'
    = render partial: 'shared/loading_modal'
    / <script>window.mdc.autoInit();</script>
    = render 'shared/etiquette_modal'
    #modal
:javascript
  $(function() {
    WebFont.load({
      google: {
        families: ['Lato:300,300i,400,400i,700,700i', 'Josefin+Sans:400,600']
      },
      timeout: 2000,
      active: function() {
        $.each($('.ellipsis-box'), function(index, element){
          $(element).truncate({ lines: 4 });
        });
      }
    });
  });
